.carita{
    height: 60px;
    width: 60px;
    border-color:darkorange;
    border-width: 2px;
    border-style:ridge;
}

.azul {
    color:blue;
}
.registro {
    background-color:#fcf8e3;
    border-radius: 15px;
}

.titulo1 {
        color: orangered;      
    }

.navbar{
	margin-bottom:0;
		}
		
.jumbotron {
	background:#fcf8e3;
	height:250px;
	color:black;
    
		}

.btn-buscar{
	background:#1B1C46;
	
		   }

.glyphicon-search{
	color:whitesmoke;
}
		   
.mai {
	margin-top:20px;
	margin-bottom:20px;
}

.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .post-title a{
	color:#333;
}

.post .thumb{
	margin-right:10px;
	width:40%;
}

.post .thumb img{
	width:100%;
}

.post .contenedor-botones {
	width:100%;
}

footer {
	background:;
	color:;
}

.pies{
	font-family: "Homer Simpson", cursive;
}

@media screen and (max-width: 768px) {
	.post .thumb {
		width:100%;
		margin-bottom:20%;
		margin-right:0;
	}
}