header {
	   background: #C0C0C0;
	  }
	
article {
	   background: green;
	 }
	
aside {
	  background: blue;
	 }
	
.color1 {
	 background:black;
	 color:white;
	}
	
.color2   {
	 background:silver;
    }
	
footer {
	background:yellow;
	
}