.franja-azul{
  background-color: #0E284E;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media print {
    #boton {
        visibility: hidden;
    }    
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 12px;
}

.p-10{
  padding: 10px;
}

.p-l-10{
  padding-left: 10px;
}

.p-l-20{
  padding-left: 20px;
}

.p-l-30{
  padding-left: 30px;
}

.p-l-40{
  padding-left: 40px;
}

.p-l-50{
  padding-left: 150px;
}

.p-l-r-10{
  padding-left: 10px;
  padding-right: 10px;
}
.p-l-r-20{
  padding-left: 20px;
  padding-right: 20px;
}
.p-l-r-25{
  padding-left: 25px;
  padding-right: 25px;
}
.p-l-r-30{
  padding-left: 30px;
  padding-right: 30px;
}

.p-l-r-40{
  padding-left: 40px;
  padding-right: 40px;
}

.p-l-r-60{
  padding-left: 60px;
  padding-right: 60px;
}

.p-t-0{
  padding-top: 0px;
}
.p-t-10{
  padding-top: 10px;
}
.p-t-15{
  padding-top: 15px;
}
.p-t-20{
  padding-top: 20px;
}

.p-b-30{
  padding-bottom: 30px;
}

.p-b-40{
  padding-bottom: 30px;
}

.p-b-50{
  padding-bottom: 50px !important;
}

.p-r-10{
  padding-right: 10px;
}

.p-t-b-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-t-b-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-t-b-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-t-b-50{
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-t-b-60{
  padding-top: 60px;
  padding-bottom: 60px;
}


.f-15{
  font-size: 15px !important;
}

.f-18{
  font-size: 18px !important;
}

.f-20{
  font-size: 20px !important;
}

.f-25{
  font-size: 25px !important;
}

.f-30{
  font-size: 30px !important;
}

.f-35{
  font-size: 35px !important;
}

.f-40{
  font-size: 40px !important;
}

.f-50{
  font-size: 50px !important;
}

.f-60{
  font-size: 60px !important;
}

.f-70{
  font-size: 70px !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold !important;
}

.btn{
  font-weight: bold;
  font-size: 15px !important;
}

.bold{
  font-weight: bold !important;
}
